-
	pages = [
	
		{
			'name':'Главная!1',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	]
	
mixin input(val)
		input(id ='#{val}', type='checkbox', name='rr')
		label(for ='#{val}') 
			span

mixin inputSquare(val)
		.checkbox-square
			input(id ='#{val}', type='checkbox', name='rr')
			label(for ='#{val}') 
				span
mixin inputRow(val,text)
		.input-row
			span #{val}
			input(type="text", placeholder="#{text}")
mixin inputRowIcon(val,text,icon)
		.input-row.input-row--icon
			span #{val}
			input(type="text", placeholder="#{text}")
			div(class="#{icon}")
mixin inputSelect(val,text)
		.input-row
			span #{val}
			select.select.select-light
				option(value="1") #{text}
				option(value="1") #{text}
				option(value="1") #{text}

mixin checkboxRow(id,text)
		.row-flex.checkbox-row
			input(id='b#{id}', type='checkbox', name='rr')
			label(for='b#{id}') 
				span
			text #{text}

mixin inputIcon(val,text,icon)
		.input-row.input-row-icon
			span #{val}
			div(class="#{icon}")
			input(type="text", placeholder="#{text}")

mixin checkboxRowRound(id,text)
		.row-flex.checkbox-row.checkbox-round
			input(id='b#{id}', type='radio', name='rr')
			label(for='b#{id}') 
				span
			text #{text}
